@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

.content-group{
    width: 100%;
    flex: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: auto;


}

.content-cards{
    display: flex;
    flex-direction: column;
}



.group{
    margin: 10px;
    width: 300px;
    
    border-radius: 20px;
    flex-wrap: wrap;
    color: #3A3A42;
    align-content: flex-end;
    background-color: #FFE9CE;  
    
}

.group:hover{
    transition: background-color .5s;
    background-color: #f3c690;
}



.group-title{
    margin: 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 10px;

    align-items: flex-end;
    
    
}

.group-cantidad{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    flex-direction: row;

}

.group-number{
    margin: 0;
}

.group-subtitle{
    margin: 10px;
}

.group-area{
    margin: 0;
}


.select{
    width: 181px;
    height: 31px;
    background: #CC3454;
    border-radius: 10px;
    font-size: 13px;
    color: white;
    border: 2px solid white;
    animation: 2s, ease-in;
    margin-left: 20px;;
    margin-top: 10px;
    font-family: 'Hind', sans-serif;
    transition:background-color .5s;

}

.colorsContent{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    justify-content: space-around;
    width: 40%;
    margin-left: 20px;
    align-items: center;
}

.colorsContent--hide{
    height: 0px;
    width: 0px;
    display: none;

}

.color{
    display: flex;
    flex: auto;
    flex-wrap: nowrap;
    align-items: center;
}
.Orange{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #FF9245;
}

.yellow{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #F2CD30;
}

.banano{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background: #FFE9CE;
}


/*DARK MODE*/


.dark-mode {
    background-color: #17171C;
    transition: background-color .5s;
  }
  
  
  
  .dark-mode .group {
  
    background-color: #CCCFF1;
 
    transition: background-color .5s;

  }


  @media screen and (max-width: 900px) {
    .group{
        width: 200px;
        
        
    }
    
    .group-title{
        font-size: 12px;
        
        
    }
    
    .group-cantidad{
        font-size: 12px;
    
    }
    
    .group-number{
        font-size: 12px;
    }
    
    .group-subtitle{
        font-size: 12px;
    }
    
    .group-area{
        font-size: 12px;
    }

    .colorsContent{

        justify-content: space-around;
        width: 80%;
        margin: auto;
       
    }
    

}

@media screen and (max-width: 600px) {
    .group{
        width: 200px;
        
        
    }
    
    .group-title{
        font-size: 10px;
        
        
    }
    
    .group-cantidad{
        font-size: 10px;
    
    }
    
    .group-number{
        font-size: 10px;
    }
    
    .group-subtitle{
        font-size: 10px;
    }
    
    .group-area{
        font-size: 10px;
    }

    .colorsContent{

        justify-content: space-around;
        width: 80%;
        margin: auto;
       
    }
    

}
  