.content-group{
    flex: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: auto;


}

.group{
    margin: 10px;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    flex-wrap: wrap;
    color: #3A3A42;
    align-content: flex-end;
    background-color: #FFE9CE;
    
    
    
}

.group-title{
    font-size: 14px;
    font-weight: 10px;
    margin: 10px;
    align-items: flex-end;
    
    
}

.select{
    width: 181px;
    height: 31px;
    background: #CC3454;
    border-radius: 10px;
    font-size: 13px;
    color: white;
    border: 2px solid white;
    animation: 2s, ease-in;
    margin-left: 20px;;
    margin-top: 10px;
    font-family: Avenir LT Std;
    transition:background-color .5s;

}