@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

.content-group{
    flex: auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: auto;


}

.group{
    margin: 10px;
    width: 200px;
    
    border-radius: 20px;
    flex-wrap: wrap;
    color: #3A3A42;
    align-content: flex-end;
    background-color: #FFE9CE;
    
    
    
}

.group-title{
    margin: 10px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 10px;

    align-items: flex-end;
    
    
}

.group-cantidad{
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    flex-direction: row;

}

.group-number{
    margin: 0;
}

.group-subtitle{
    margin: 10px;
}

.group-area{
    margin: 0;
}


.select{
    width: 181px;
    height: 31px;
    background: #CC3454;
    border-radius: 10px;
    font-size: 13px;
    color: white;
    border: 2px solid white;
    animation: 2s, ease-in;
    margin-left: 20px;;
    margin-top: 10px;
    font-family: 'Hind', sans-serif;
    transition:background-color .5s;

}