@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
.content__ins{
    display: flex;
    margin-top: 0px;
    background-color: #EAEAEA;
    border-radius: 20px;
}
.group__ins{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}


.groups{
    background-color: #cc3454;
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.name__ins{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    
}

.where{
    color: white;
    font-size: 14px;
    padding-left: 20px;
}

.group__as{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: white;
    border-radius: 40px;
    width: 80%;
    margin: 50px;
}

.group__name{
    color: #52525A;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
}

.name__groupInst{
    color: #313391;
    text-align: center;
    font-size: 50px;
    padding-left: 10px;
}

.year{
    color: #52525A;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
}

.content__i{
    width: 75%;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    margin-right: 20px;
    border-radius: 20px;

}

a{
    color:white;
    width: 100%;
    font-size: 14px;
    margin: auto;
    
    text-decoration: none;
    text-align: center;
    }

/*DARK MODE*/


.dark-mode .content__i{
    background-color: #3A3A42;
    transition:background-color .5s;
}

.dark-mode .groups{
    background-color: #6066AA;

}

.dark-mode .content__ins{
    background-color: #3A3A42;
}

.dark-mode .group__as{
    background-color: #7E7E8B;
}

.dark-mode .group__name{
    color: white;

}

.dark-mode p{
    color: white;

}

.group__logo{
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.imglogo{
    margin-top: 20px;
     width: 40%;
     border-radius: 10px;
}

@media screen and (max-width: 900px) {

    .groups{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .name__ins{
        font-size: 32px;
        text-align: center;
    }
    
    .where{
        font-size: 12px;
        text-align: center;
        margin-left: 0;
    }
    
    .group__as{
        border-radius: 20px;
        width: 300px;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 50px;

    }
    
    .group__name{
        font-size: 14px;
        text-align: center;
         align-items: center;

    }
    
    .name__groupInst{
        font-size: 32px;
        text-align: center;
    }

    
    .year{
        font-size: 14px;
        text-align: center;
    }
    
    .content__i{
        width: 80%;
        margin-bottom: 20px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .content__ins{
        display: flex;
        margin-top: 10px;
        flex-direction: column;
    justify-content: center;
    }
    
    a{
        font-size: 12px;
        text-align: center;
        margin-left: 0;
        }

    .group__ins{
         align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .content__ins{
        display: flex;
        margin-top: 0px;
    }

    .name__ins{
   
        font-size: 22px;
        text-align: center;
    }
    
    .where{
        font-size: 12px;
        text-align: center;
        margin-left: 0;
    }
    
    .group__as{
        border-radius: 20px;
        width: 300px;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 30px;

    }
    
    .group__name{
        font-size: 14px;
        text-align: center;
         align-items: center;

    }
    
    .name__groupInst{
        font-size: 32px;
        text-align: center;
    }

    
    .year{
        font-size: 14px;
        text-align: center;
    }
    
    .content__i{
        width: 80%;
        margin-bottom: 20px;
        margin-right: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .content__ins{
        display: flex;
        margin-top: 50px;
        flex-direction: column;
    justify-content: center;
    }
    
    a{
        font-size: 10px;
        text-align: center;
        margin-right: 0;
        }

    .group__ins{
         align-items: center;
    }
}