.content__ins{
    display: flex;
    margin-top: 120px;
}
.group__ins{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.name__ins{
    color: white;
    font-size: 50px;
    padding-left: 20px;
}

.where{
    color: white;
    font-size: 14px;
    padding-left: 20px;
}

.group__as{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: white;
    border-radius: 40px;
    width: 500px;
    margin-right: 50px;
}

.group__name{
    color: #52525A;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
}

.name__groupInst{
    color: #313391;
    font-size: 50px;
    padding-left: 10px;
}

.year{
    color: #52525A;
    font-size: 14px;
    padding-left: 10px;
    text-align: center;
}

.content__i{
    width: 75%;
    background-color: #CC3454;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 20px;

}

