@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
.name__invest{
    color: white;
    font-size: 50px;
    padding-left: 50px;
}

.pertenency_-group{
    color: #6B9AC4;
    font-size: 18px;
    padding-left: 50px;
}
.info{
    color:white;
    font-size: 14px;
    margin-left: 50px;
}

.products{
    color: white;
    font-size: 30px;

}