@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

.content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
}

.group {
    margin-left: 50px;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;

}

.first{
    background-color: #cc3454;
    width: 80%;
    color: white;
    padding: 40px;
    border-radius: 40px;

}

.description{
    background-color: white;
    border-radius: 40px;
    width: 60%;

}

.name__group {
    color: white;
    font-size: 50px;
    padding-right: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
}


.number__invest {
    color: white;
    font-size: 28px;
    padding-left: 5px;
    margin: 0;
}



.numberImage {
    width: 30px;
    height: 30px;

}

.numbers {
    display: flex;
    align-items: center;
}

.areas {
    color: #F9A61A;
    font-size: 18px;
    margin-left: 0px;
}

.leader {
    color: white;
    font-size: 14px;
    margin-left: 0px;
    margin-right: 60px;
}

.text {
    color: #cc3454;
    font-size: 14px;
    margin: 40px;
    text-align: center;
    

}

a {
    color: white;
    font-size: 14px;
    margin-left: 0px;
    text-decoration: none;
}

.table {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;
    padding: 0;
}

.table__important {
    width: 70%;
    padding: 0;
    margin: 0;
}

.table__title {
    color: white;
    font-size: 14px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #F9A61A;
    padding: 0;
    margin: 0;
}

.table__name {
    width: 40%;
    color: white;
    font-size: 14px;
    text-align: center;
    vertical-align: center;
    border: 1px solid #F9A61A;
    padding: 0;
    margin: 0;
}


.dark-mode .name__group {
    color: white;

}

.dark-mode .leader {
    color: white;

}

.dark-mode a {
    color: white;

}

@media screen and (max-width: 900px) {

    .group {
        margin-left: 40px;
    }

    .name__group {
        font-size: 32px;
    }


    .number__invest {
        font-size: 20px;

    }

    .numberImage {
        width: 20px;
        height: 20px;

    }

    .areas {
        font-size: 14px;
    }

    .leader {
        font-size: 12px;
    }

    a {
        font-size: 12px;

    }

}

@media screen and (max-width: 600px) {

    .group {
        margin-left: 40px;
    }

    .name__group {
        font-size: 25px;
        margin-bottom: 0px;

    }


    .number__invest {
        font-size: 15px;

    }

    .numberImage {
        width: 20px;
        height: 20px;

    }

    .areas {
        font-size: 10px;
    }

    .leader {
        font-size: 10px;
    }

    a {
        font-size: 6px;

    }

}