@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

.container-btn-mode{

    position: relative;
    display: inline-block;
 
    height: 34px;
    margin-right: 20px;
    cursor: pointer;
    z-index: 2;
    font-size:0;
  }
  .btn-mode{
    display: inline-block;
    width: 50px;
    height: 30px;
    transition: background-color .5s;
  }
  .btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
  }
  .btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
    background-color: #CC3454;
  }

  .btn-mode.sun:hover{
      background-color: #eea7b6;

  }

  .id-sun-img{
    display:block;
    margin:auto;
    margin-top: 4px;

  }
  .btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #2F3786;
  }

  .btn-mode.moon:hover{
    background-color: #9ca1d1;

  }

  .id-moon-img{
    display:block;
    margin:auto;
    margin-top: 5px;
  }

  .active{
    background-color:#EFD7DC;
    color:#ffcd5c !important;
  }

body{
    margin: 0;
    background-color: white;
    font-family: 'Hind', sans-serif;
    overflow-x: hidden;
    transition:background-color .5s;
}


.nav__principal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 50px;
}

.form__label{
    color: white;
    margin-right: 90px;
    
}
input{
    background-color:#CC3454 ;
    background-size: cover;
    color: #EFD7DC;
    border-radius: 20px;
    border-color: transparent;
    width: 273px;
    height: 34px;
    border:0;
    outline:none;
    transition:background-color .5s;
}
::placeholder{
    color: #DEBFC5;
}

.switchBtn {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 20px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CC3454;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;

}
.slide img{
    background-color: transparent;
    margin:0;
    margin-left: 30px;
}


.slide:before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    left: 30px;
    bottom: 0px;
    background-color: #EFD7DC;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #3A3A42;

    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #3A3A42;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -30px;
    background-color: #6066AA;

}
.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}
.body{
    display: flex;
    flex-direction: row;
}

.nav__left{
    display: flex;
    flex-direction: column;
}

.sections{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 10px;
    color: #52525A;
}
.sections:hover{
    color: white;
    background-color:#CC3454 ;
    
    
}


.here{
    background-color:#CC3454;
    color: white;
}

.imgs{
    background-size: cover;
    margin: 15px;
    align-items: center;
}

.logo{
    background-size: cover;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.logoRAD{
    background-size: cover;
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.RAD{
    margin-top: 80px;
}

.sections__name{
    font-size: 13px;
    align-items: center;
    margin-top: 15px;
    
    transition:background-color .5s;
}

.sections__here{
    font-size: 13px;
    align-items: center;
    margin-top: 15px;
    color: white;
    transition:background-color .5s;
}

.sections_name:hover{
    color: white;
}

.content{
    width: 75%;
    background-color: #CC3454;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 20px;
    transition:background-color .5s;
}

.title{
    display: flex;
    flex-direction: row;
}

.namepage{
    font-size: 18px;
    justify-items: center;
    color: white;
    margin-left: 30px;;
    margin-top: 40px;
}

.buttons{
    width: 181px;
    height: 31px;
    background: white;
    border-radius: 10px;
    font-size: 13px;
    color: #CC3454;
    animation: 2s, ease-in;
    border-color: transparent;
    margin-left: 260px;
    margin-top: 38px;
    font-family: 'Hind', sans-serif;
    transition:background-color .5s;
    

}
.buttons:hover i {
    background: darken(#92122e, 50%);
  }

  
.buttonInst{
    width: 181px;
    height: 31px;
    background: white;
    border-radius: 10px;
    font-size: 13px;
    color: #CC3454;
    animation: 2s, ease-in;
    border-color: transparent;
    margin-left: 20px;
    margin-top: 38px;
    margin-right: 20px;
    font-family: 'Hind', sans-serif;
    transition:background-color .5s;
    
}

.buttonsadd{
    width: 280px;
    height: 31px;
    background: white;
    border-radius: 10px;
    font-size: 13px;
    color: #CC3454;
    animation: 2s, ease-in;
    border-color: transparent;
    margin-left: 500px;
    margin-top: 38px;
    margin-right: 20px;
    font-family: 'Hind', sans-serif;
    transition:background-color .5s;
    

}


.graphicsGrups{
    background-color: transparent;
}

.buttons:hover {
    background-color: darken(#6066AA, 6%);
  }

.graphics{
    width: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;

    
}
.graphicone{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    border-radius: 20px;
    margin: 20px;
    transition:background-color .5s;
    
}

.titleone{
    color:#CC3454;
    margin-left: 50px;
    font-family: 'Hind', sans-serif;
    justify-content: center;
    
}

.container{
    margin: 20px;
    justify-content: center;
}

/*Aqui le decimos a la pagina que no aplique apariencias por defecto*/

.filters input,
.filters select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    border-color: #CC3454;
    color: #CC3454;
    max-width: 100px;
	position: relative;
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
    border-radius: 10px;
    font-family: 'Hind', sans-serif;
    transition:background-color .5s;
}

.filters{
    align-items: flex-start;
    margin: 10px;
    width: auto;
    height: auto;


}

.filters select:hover{
	background: #CC3454;
    color: white;
}

/* Eliminamos la fecha que por defecto aparece en el desplegable */
.filters select::-ms-expand {
    display: none;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
este elemento es un cuadrado que sólo tienen dos bordes 
con color y que giramos con transform: rotate(-45deg);
No funciono jajan't*/

.filters select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #CC3454;
	border-bottom:4px solid #CC3454;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
    z-index: 4;
}

.select:hover i{
	margin-top: 3px;
    border-left:4px solid white;
	border-bottom:4px solid white;

}

/*DARK MODE*/


.dark-mode{
    background-color: #17171C;
    transition:background-color .5s;
}

.dark-mode .form__label{
    background-color: white;
    transition:background-color .5s;
}

.dark-mode .input{
    background-color:#6066AA ;
    background-size: cover;
    color: #9CA1CF;
    transition:background-color .5s;
}

.dark-mode ::placeholder{
    color: #9CA1CF;
    transition:background-color .5s;
}

.dark-mode .sections:hover{
    background-color:#6066AA ;
    transition:background-color .5s;
}
.dark-mode .here{
    background-color:#6066AA ;
    transition:background-color .5s;
}

.dark-mode .content{

    background-color: #3A3A42;
    transition:background-color .5s;
}

.dark-mode .sections__name{
    color: white;
    transition:background-color .5s;
}

.dark-mode .buttons{

    background-color: #6066AA;
    color: white;
    animation: 2s, ease-in;
    border-color: transparent;
    transition:background-color .5s;


}

.dark-mode .buttonInst{
    background-color: #6066AA;
    color: white;
    animation: 2s, ease-in;
    border-color: transparent;
    transition:background-color .5s;
    
}



.dark-mode .form__label{
    background-color: #17171C;
    transition:background-color .5s;

}

.dark-mode input{
    background-color: #3A3A42;
}

.dark-mode .graphicone{
    background-color: #a9a9d3;

}

.dark-mode .filters select{
    background-color: #6066AA;
    border-color: transparent;
    color: white;
    transition:background-color .5s;

}


.dark-mode .filters select:hover{
	background: #9ca1d1;
    color: #3A3A42;
}

.dark-mode .titleone{
    color:#6066AA;
    
    font-family: 'Hind', sans-serif;
    
    
}

.dark-mode .buttonInst{
    background-color: #6066AA;
    border-color: transparent;
    color: white;
    transition:background-color .5s;
    
}

.dark-mode .buttonsadd{
    background-color: #6066AA;
    border-color: transparent;
    color: white;
    transition:background-color .5s;

}

.loaderGeneral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
    top: 30px;
    z-index: 5;
}

.loaderGeneral--hide{
    height: 0px;
}
.loader{
    display: none;
}

.loader--show{
    display: block;
    margin-top: 200px;
    z-index: 5;
 
}

@media screen and (max-width: 900px) {
    .nav__principal{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: right;
        margin: 50px;
    }

    .sections__name{
        font-size: 11px;
    }

    .sections__here{
        font-size: 11px;
    }

    
.logoRAD{
 width: 150px;
}

.namepage{
    font-size: 15px;
    width: 500px;
}

.grupoEspecifico{
    width: 250px;
    height: 50px;
}

.insEspecifico{
    width: 250px;
    height: 50px;
}

.graphicsGrups{
    height: 1265px;
}

.graphicsConvo{
    height: 2045px;
}

  
.graphicsInvest{
    height: 2757px;
}

.graphicsProyects{
    height: 1700px;
}

.graphicsProducts{
    height: 875px;
}

.graphicsCreation{
    height: 795px;
}

.buttonsadd{
    width: 300px;
    height: 31px;
    margin-left: 190px;
    margin-top: 38px;
    font-size: 10px;
    

}
}

@media screen and (max-width: 600px) {

    .namepage{
        font-size: 12px;
        width: 500px;
    }
    
    .grupoEspecifico{
        width: 250px;
        height: 50px;
        margin-left: 100px;
        font-size: 10px;
    }
    
    .insEspecifico{
        width: 250px;
        height: 50px;
        font-size: 10px;
    }
    
    .graphicsGrups{
        height: 828px;
    }
    .graphicsConvo{
        height: 1538px;
    }
    
    .graphicsInvest{
        height: 2066px;
    }

    .graphicsProyects{
        height: 1279px;
    }
    
    .graphicsProducts{
        height: 665px;
    }

    .graphicsCreation{
        height: 606px;
    }

    .nav__left{
       width: 40%;
    }
    
    .buttonsadd{
        width: 400px;
        height: 31px;
        margin-left: 100px;
        margin-top: 38px;
        font-size: 10px;
        
    
    }
    }