.container-btn-mode{
    position: absolute;
    top:20px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    font-size:0;
  }
  .btn-mode{
    display: inline-block;
    width: 50px;
    height: 30px;
    border:2px solid black;
    transition: background-color .5s;
  }
  .btn-mode i {
    display: block;
    font-size: 17px;
    text-align: center;
    line-height: 30px;
  }
  .btn-mode.sun{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 1px solid transparent;
  }
  .btn-mode.moon{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .active{
    background-color:black;
    color:#ffcd5c !important;
  }

body{
    margin: 0;
    background-color: white;
    font-family: Avenir LT Std;
    overflow-x: hidden;
}


.nav__principal{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin: 50px;
}

.form__label{
    color: white;
    margin-right: 90px;
    
}
input{
    background-color:#CC3454 ;
    background-size: cover;
    color: #EFD7DC;
    border-radius: 20px;
    border-color: transparent;
    width: 273px;
    height: 34px;
    border:0;
    outline:none;
}
::placeholder{
    color: #DEBFC5;
}

.switchBtn {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 20px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #CC3454;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;

}
.slide img{
    background-color: transparent;
    margin:0;
    margin-left: 30px;
}


.slide:before {
    position: absolute;
    content: "";
    height: 35px;
    width: 35px;
    left: 30px;
    bottom: 0px;
    background-color: #EFD7DC;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #3A3A42;

    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #3A3A42;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -30px;
    background-color: #6066AA;

}
.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}
.body{
    display: flex;
    flex-direction: row;
}

.nav__left{
    display: flex;
    flex-direction: column;
}

.sections{
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 10px;
}
.sections:hover{
    
    background-color:#CC3454 ;
    background-image: "../Imgs/institucioneswhite.png";
    
}
.here{
    background-color:#CC3454;
    color: white;
}

.imgs{
    background-size: cover;
    margin: 15px;
    align-items: center;
}

.logo{
    background-size: cover;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.RAD{
    margin-top: 80px;
}

.sections__name{
    font-size: 13px;
    align-items: center;
    margin-top: 15px;
    color: #52525A;
}

.sections__here{
    font-size: 13px;
    align-items: center;
    margin-top: 15px;
    color: white;
}

.sections_name:hover{
    color: white;
}

.content{
    width: 75%;
    background-color: #CC3454;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 20px;
}

.title{
    display: flex;
    flex-direction: row;
}

.namepage{
    font-size: 18px;
    justify-items: center;
    color: white;
    margin-left: 30px;;
    margin-top: 40px;
}

.buttons{
    width: 181px;
    height: 31px;
    background: white;
    border-radius: 10px;
    font-size: 13px;
    color: #CC3454;
    animation: 2s, ease-in;
    border-color: transparent;
    margin-left: 260px;;
    margin-top: 38px;
    font-family: Avenir LT Std;

}

.buttons:hover {
    background-color: darken(#6066AA, 6%);
  }

.graphics{
    width: auto;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.graphicone{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    border-radius: 20px;
    margin: 20px;
    
}

/*Aqui le decimos a la pagina que no aplique apariencias por defecto*/

.filters input,
.filters select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    border-color: #CC3454;
    color: #CC3454;
    max-width: 100px;
	position: relative;
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
    border-radius: 10px;
    font-family: Avenir LT Std;
}

.filters{
    align-items: flex-start;
    margin: 10px;
    border-radius: 10px;

}

.filters select:hover{
	background: #CC3454;
    color: white;
}

/* Eliminamos la fecha que por defecto aparece en el desplegable */
.filters select::-ms-expand {
    display: none;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
este elemento es un cuadrado que sólo tienen dos bordes 
con color y que giramos con transform: rotate(-45deg);
No funciono jajan't*/

.filters select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #CC3454;
	border-bottom:4px solid #CC3454;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}

.select:hover i{
	margin-top: 3px;
    border-left:4px solid white;
	border-bottom:4px solid white;

}

/*DARK MODE*/


.dark-mode{
    background-color: #17171C;
    transition:background-color .5s;
}

.dark-mode .form__label{
    background-color: white;
    transition:background-color .5s;
}

.dark-mode .input{
    background-color:#6066AA ;
    background-size: cover;
    color: #9CA1CF;
}

.dark-mode ::placeholder{
    color: #9CA1CF;
}

.dark-mode .sections:hover{
    background-color:#6066AA ;
}
.dark-mode .here{
    background-color:#6066AA ;
}

.dark-mode .content{
    width: 75%;
    background-color: #3A3A42;
}

.dark-mode .sections__name{
    color: white;
}

.dark-mode .buttons{
    width: 181px;
    height: 31px;
    background: #6066AA;
    border-radius: 10px;
    font-size: 13px;
    color: white;
    animation: 2s, ease-in;
    border-color: transparent;
    margin-left: 260px;;
    margin-top: 38px;

}

.dark-mode .logo{
    margin-top: 80px;
}

.dark-mode .RAD{
    margin-top: 80px;
}

.imgs{
    background-size: cover;
    margin: 15px;
    align-items: center;
}

.dark-mode .sections_name{
    color: white;
}