@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');



body {
  margin: 0;
  background-color: white;
  font-family: 'Hind', sans-serif;
  overflow-x: hidden;
  transition: background-color .5s;
}


.nav__principal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 50px;
}

.logo {
  margin-top: 40px;
}


.body {

  flex-direction: row;
}

.logo {
  display: flex;
  justify-content: center;
}


.imgs {
  background-size: cover;
  margin: 15px;
  align-items: center;
}

.logo {
  background-size: cover;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.RAD {
  margin-top: 80px;
}


.observatory {
  margin: auto;
  width: 80%;
  background-color: #CC3454;
  border-radius: 40px 40px 0 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  transition: background-color .5s;
}


.title {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 50px;
}

.text1 {
  font-weight: lighter;
  margin: auto;
  font-size: 14px;
  font-family: 'Hind', sans-serif;
  justify-items: left;
  text-align: left;
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 5px;
}

.text2 {
  font-weight: lighter;
  margin: auto;
  font-size: 12px;
  font-family: 'Hind', sans-serif;
  justify-items: left;
  text-align: left;
  margin-left: 30px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.animacion1 {
  margin-left: 30px;
  width: 40%;
  justify-content: center;
  align-items: center;
}


.section {
  margin: auto;
  width: 80%;
  background-color: #CC3454;
  border-radius: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  transition: background-color .5s;
}

.sections {
  border-radius: 20px;
  background-color: #F87189;
  width: 133px;
  margin-left: 15px;
  margin-top: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  text-align: center;
}

.sectionsgroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionbuttons {
  align-items: center;
  margin: auto;
  margin-bottom: 40px;
  align-content: space-between;
  flex-wrap: wrap;

}

.plataformTuto {
  display: flex;
  justify-content: end;
  margin-top: 100px;
}

.plataformName {
  display: flex;
  justify-content: center;
  border-radius: 20px 0 0 20px;
  background-color: #F9A61A;
  width: 300px;

}


.namePlata {
  font-weight: lighter;
  font-size: 18px;
  margin: auto;
  width: 80%;
  font-family: 'Hind', sans-serif;
  margin-top: 17px;

}

.plataformImage {
  border-radius: 0 20px 20px 0;
  background-color: #FFE9CE;
  width: 300px;
}

.imagePlata {
  height: 55px;
}

.buttons {
  width: 200px;
  height: 100px;
  background: #FFE9CE;
  border-radius: 20px;
  font-size: 13px;
  color: #CC3454;
  font-weight: lighter;
  font-style: italic;
  font-size: 14px;
  animation: 2s, ease-in;
  border-color: transparent;
  margin-top: 38px;
  font-family: 'Hind', sans-serif;
  transition: background-color .5s;

}

.buttons:hover {
  background-color: darken(#6066AA, 6%);
}


.container-btn-otd {
  position: fixed;
  flex: auto;
  align-items: flex-end;

  display: inline-block;
  height: 100px;
  margin-right: 100px;
  cursor: pointer;
  z-index: 5;
  font-size: 0;
}

.btn-otd {
  display: inline-block;
  width: 100px;
  height: 200px;
  transition: background-color .5s;
}

.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}

.btn-mode.sun {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
  background-color: #EFD7DC;
}



.btn-mode.moon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #6066AA;
}


.id-moon-img {
  display: block;
  margin: auto;
  margin-top: 5px;
}

.container-btn-mode {

  position: relative;
  display: inline-block;
  height: 34px;
  margin-right: 100px;
  cursor: pointer;
  z-index: 2;
  font-size: 0;
}

.btn-mode {
  display: inline-block;
  width: 50px;
  height: 30px;
  transition: background-color .5s;
}

.btn-mode i {
  display: block;
  font-size: 17px;
  text-align: center;
  line-height: 30px;
}

.btn-mode.sun {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
  background-color: #CC3454;
}

.btn-mode.sun:hover {
  background-color: #eea7b6;

}


.btn-mode.moon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #2F3786;
}

.btn-mode.moon:hover {
  background-color: #9ca1d1;

}

.id-logo {
  display: block;
  margin: auto;
  margin-top: 5px;
}





.btn-mode.sun {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-right: 1px solid transparent;
  background-color: #CC3454;
}

.btn-mode.sun:hover {
  background-color: #eea7b6;

}

.id-sun-img {
  display: block;
  margin: auto;
  margin-top: 4px;

}

.btn-mode.moon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #2F3786;
}

.btn-mode.moon:hover {
  background-color: #9ca1d1;

}

.id-moon-img {
  display: block;
  margin: auto;
  margin-top: 5px;
}

.active {
  background-color: #EFD7DC;
  color: #ffcd5c !important;
}


/*DARK MODE*/


.dark-mode {
  background-color: #17171C;
  transition: background-color .5s;
}



.dark-mode .observatory {

  background-color: #6066AA;
  transition: background-color .5s;
}


.dark-mode .section {

  background-color: #6066AA;
  transition: background-color .5s;
}

.dark-mode .sections {

  background-color: #17171C;
  transition: background-color .5s;
}

.dark-mode .title {

  color: white;
}


.dark-mode .plataformImage {

  background-color: #17171C;
  transition: background-color .5s;

}


.plataformName:hover {
  background-color: #ce8200;
}

@media screen and (max-width: 900px) {
  .sectionsgroup {
    width: 100%;

  }

  
  .observatory {
    width: 80%;
  }

  .text1 {
    font-size: 10px;

  }

  .text2 {

    font-size: 8px;

  }

  #line1 {
    width: 500px;
  }

  #line2 {
    width: 500px;
  }

  .sections {

    width: 80px;
    border-radius: 10px;

  }

 

  h5 {
    font-size: 12px;
  }


  .plataformName {
    width: 150px;

  }

  .namePlata {
    margin-top: 10px;
    font-size: 12px;

  }

  .plataformImage {

    width: 150px;
  }

  .imagePlata {
    height: 30px;
  }

  #logoRAD {
    width: 150px;
  }

}